<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../styles.css">
    <script>
        function toggleMenu() {
            const navList = document.getElementById('nav-list');
            navList.classList.toggle('active');  
        }</script>
    </head>
    <body>
        <header>
            <nav>
                <div class="hamburger" onclick="toggleMenu()">
                    &#9776;  
                </div>
                <ul id="nav-list">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

    <main>
        <section class="about-section">
            <h1>About Me</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maiores enim dicta facilis neque veniam ipsum amet odit repellat voluptatem? Repellat itaque molestiae, inventore reiciendis iure sed qui minima voluptates officiis modi consequatur fuga, iusto mollitia sint! Aliquid, eum hic pariatur minima eos libero. Dolorum laborum repudiandae sapiente amet saepe?</p>
        </section>
    </main>

    <footer>
        <p>vinay @2025</p>
    </footer>
</body>
</html>
